* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,
body {
    height: 100%;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #484848;
    background: #f0f0f0;
}
/* Resizing propert ends here */
/* common style starts here */

.fleft {
    float: left;
}
.fright {
    float: right;
}
.clearfix:after {
    content: '';
    display: block;
    clear: both;
}
.height-100per {
    height: 100%;
}
.layout-container {
    width: 1000px;
    margin: 0 auto;

}
/* common style ends here */
/* Header style starts here */

.header {
    background: url("../Images/hdr-bg.jpg");
    background-repeat: repeat-x;
    height: 110px;
}
.header__navigation__link {
    color: #bbbbbb;
    text-decoration: none;
    font-size: 11px;
    width: 157px;
    border-right: 2px solid #3f4141;
    overflow: hidden;
    text-overflow: ellipsis;
    border-left: 2px solid #3f4141;
    text-align: center;
    padding: 17px 21px 10px 18px;
    height: 50px;
    display: inline-block;
    background: #2f2f2f;
    margin-right: -7px;
}
.page-wrapper {
    padding: 1px;
    min-width: 1080px;
}
.primary-header {
    height: 50px;
}
.header__navigation__link:hover {
    color: #fff;
    background: #000;
}
.header__navigation__link.active {
    background: url("../Images/arrow.png") no-repeat;
    background-position: bottom;
    color: #fff;
}
.header__navigation__link:hover {
    background: url("../Images/arrow.png") no-repeat;
    background-position: bottom;
}
.header__logout__link {
    color: #fff;
    text-decoration-style: none;
    font-weight: bold;
    text-decoration: none;
    font-size: 12px;
}
.header__logout {
    padding: 14px;
    overflow: hidden;
    height: -19px;
    height: 42px;
    width: 177px;
    text-overflow: ellipsis;
}
.primary-header__logo {
    float: left;
    width: 68px;
    margin: 0px 18px 0 2px;
    border-right: 2px solid #3f4141;
    border-left: 2px solid #3f4141;
}
.header__add.fright {
    width: 60px;
    font-size: 11px;
    color: #3397c9;
    background: #fff;
    border: 0;
    margin: 5px 0 0 0;
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius: 7px;
    padding: 0;
    height: 28px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.header__sub-nav {
    padding: 10px;
}
.secondary-header-nav__link {
    color: #484848;
    text-decoration: none;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 13px;
    width: 106px;
    display: inline-block;
    text-align: center;
    margin: 5px 0 0 0;
    font-weight: 600;
    padding: 10px 3px 15px 4px;
}
.secondary-header-nav__link.active {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top: 1px solid #ccc;
    background: #fff;
    color: #51afe0;
}
.secondary-header-nav__link:hover {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top: 1px solid #ccc;
    background: #fff;
    color: #51afe0;
}
.secondary-header {
    padding: 10px;
    height: 60px;
}
/* Header style ends here */

/* search field style starts here */

.search-wrap {
    background: #fff;
    height: 125px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 21px;
}
.search-img-container.fright {
    width: 106px;
    height: 73px;
    margin: -16px 0 0 0;
}
.search-img-container__logo {
    width: 100%;
}
.searchbar-wrapper {
    width: calc(100% - 106px);
}
.hero-txt {
    font-size: 21px;
    font-weight: 100;
}
.searchbar-wapper__field {
    width: 622px;
    height: 31px;
    margin: 8px 0 8px 0;
    padding: 3px;
    border: solid 1px #ccc;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}
.seacrchbar-wrapper__btn {
    height: 0 0 0 0;
    padding: 7px 29px 8px 26px;
    cursor: pointer;
    color: #fff;
    border-top-right-radius: 4px;
    margin-left: -4px;
    border: 0;
    font-size: 14px;
    background: #605d58;
    font-weight: bold;
    border-bottom-right-radius: 4px;
}
.searchbar-wrapper__text {
    font-size: 11px;
    vertical-align: top;
    font-weight: bold;
    margin: -7px 3px 0 6px;
}
.searchbar-wrapper__box {
    width: 13px;
    height: 15px;
}
.searchbar-wrapper__reset {
    background: #fff;
    border: 0;
    color: #484848;
    font-size: 11px;
    vertical-align: top;
    font-weight: bold;
    margin: 2px 8px 0 20px;
}
/* search feild style ends here */
/* assesment styles */

.assesment-wrapper {
    width: 100%;
    background: #f0f0f0;
    padding: 14px;
    display: inline-block;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.risk-assesment {
    width: 326px;
    background: #fff;
    padding: 7px 10px 8px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.risk-assesment__field {
    height: 31px;
    width: 100%;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 13px;
    padding: 7px;
    margin: 6px 0 10px 0px;
}
.risk-assesment__option {
    height: 31px;
    width: 100%;
    background: #fff;
    border: 1px solid #ccc;
    height: 31px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 13px;
    padding: 6px;
    width: 100%;
    margin: 6px 0 10px 0px;
}
.risk-assesment__title {
    font-size: 10px;
    font-weight: bold;
}
.risk-assesment__field,
.loacation-field__country__field,
.loacation-field__state__field,
.loacation-field__city__field,
.risk-assesment__option,
.loacation-field__country__field,
.loacation-field__state__field,
.department-field__division__field,
.department-field__section_field,
.loacation-field__city__field,
.department-field__dept__field,
.department-field__where__field,
.department-field__other__field {
    position: relative;
}
.risk-assesment__field:after,
.loacation-field__country__field:after,
.loacation-field__state__field:after,
.loacation-field__city__field:after,
.risk-assesment__option:after,
.loacation-field__country__field:after,
.loacation-field__state__field:after,
.department-field__division__field:after,
.department-field__section_field:after,
.loacation-field__city__field:after,
.department-field__dept__field:after,
.department-field__where__field:after,
.department-field__other__field:after {
    content: '';
    background: url("../Images/drop.png") no-repeat #fff;
    background-size: 36px 40px;
    padding: 20px 28px 9px 4px;
    border-left: 1px solid #ccc;
    top: 0;
    background-position: center;
    right: 0;
    position: absolute;
}
.location-field {
    width: 100%;
}
.loacation-field__country__field,
.loacation-field__state__field,
.loacation-field__city__field,
.department-field__dept__field,
.department-field__division__field,
.department-field__section_field,
.department-field__where__field,
.department-field__other__field {
    height: 31px;
    width: 100%;
    background: #fff;
    border: 1px solid #ccc;
    height: 31px;
    border-radius: 4px;
    font-size: 13px;
    padding: 6px;
    margin: 6px 0 10px 0px;
    cursor: pointer;
}
.risk-level-wrapper {
    width: calc(100% - 403px);
    padding: 19px;
}
.risk-level__progress {
    width: 260px;
    float: left;
}
.risk-level__hazard-type {
    width: calc(100% - 260px);
    float: right;
}
.risk-level-wrapper {
    width: calc(100% - 346px);
    background: #fff;
    margin: 0 0 11px 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
    border: 14px 20px 14px solid #f0f0f0;
    padding: 7px 10px 19px 10px;
}
.risk-level__progress__green {
    background: #50d16c;
    border-radius: 4px;
    padding: 10px 34px 6px 27px;
    color: #fff;
    font-size: 11px;
    font-weight: 900;
}
.risk-level__progress__orange {
    background: #feb447;
    font-size: 11px;
    padding: 9px 34px 6px 27px;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
}
.risk-level__progress__red {
    background: #ff4b4c;
    padding: padding: 10px 34px 6px 27px;
    padding: 10px 34px 6px 27px;
    border-radius: 4px;
    color: #fff;
    font-size: 11px;
    font-weight: bold;
}
.risk-level__table {
    width: 100%;
    height: 116px;
    margin: 8px 0 0 0;
    padding: 2px 4px 8px 0;
}
.risk-level__table tr td:nth-child(2) {
    width: 96px;
}
.risk-level__table-text {
    font-size: 13px;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    width: 54px;
}
.risk-lever__progress__head {
    font-size: 10px;
    font-weight: bold;
}
.risk-level__hazard__table {
    width: 100%;
    padding: 0;
    height: 117px;
    display: inline-block;
    border-collapse: collapse;
    border: 1px solid #ccc;
    overflow: auto;
}
.risk-level__hazard-type__icon {
    width: 20px;
    height: 20px;
    display: inline-block;
}
.icon__a {
    background: url("../Images/icon-item.png");
    background-position: 0px 3px;
}
.icon__b {
    background: url("../Images/icon-item.png");
    background-position: 95px 3px;
}
.icon__c {
    background: url("../Images/icon-item.png");
    background-position: 26px 1px;
}
.icon__d {
    background: url("../Images/icon-item.png");
    background-position: 0 21px;
}
.icon__e {
    background: url("../Images/icon-item.png");
    background-position: 27px 113px;
}
.icon__f {
    background: url("../Images/icon-item.png");
    background-position: -63px 252px;
}
.risk-level__hazard__table tr td:first-child {
    width: 20px;
}
.risk-level__hazard__table tr:hover {
    background: #3397c9;
    color: #fff;
}
.risk-level__hazard__table tr td:last-child {
    width: 100%;
    padding: 0 0 0 11px;
}
.risk-level__hazard-type__items tr:first-child {
    background: #3397c9;
    border: none;
    color: #fff;
}
/* assesment style ends here */

/* location styles starts here */

.loaction-field__item {
    width: 307px;
    margin: 0 7px 0 0px;
    display: inline-block;
}
.details-wrapper {
    padding: 8px;
    background: #fff;
    clear: both;
}
.location-head {
    font-size: 10px;
    font-weight: bold;
}
.department-head {
    font-size: 10px;
    font-weight: bold;
}
.dropdown-details-wrapper {
    clear: both;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.department-wrapper {
    padding: 8px;
    border-top: 1px solid #ccc;
    background: #fff;
}
.calender-head {
    font-weight: bold;
    font-size: 10px;
}
.calender-wrapper {
    padding: 8px;
    border-top: 1px solid #ccc;
    background: #fff;
    margin: 0 0 0 0;
}
.calender-field {
    list-style: none;
}
.calender-field__text {
    padding: 3px 11px 4px 10px;
    border-right: 1px solid #ccc;
    display: inline-block;
    background: #f9f9f9;
}
.calender-field__item {
    width: 303px;
    border: 1px solid #ccc;
    height: 31px;
    border-radius: 4px;
    display: inline-block;
    margin: 10px 9px 0 1px;
}
.claender-field__date-format {
    font-size: 14px;
    padding: 0 0 0 18px;
    color: #ccc;
}
.calender-field__item__start:after,
.calender-field__item__end:after {
    content: '';
    background: url("../Images/cal.png") no-repeat;
    width: 20px;
    height: 20px;
    top: 5px;
    background-position: center;
    right: 6px;
    position: absolute;
}
.calender-field__item__start,
.calender-field__item__end {
    position: relative;
    cursor: pointer;
}
.calender-field__btn {
    width: 317px;
    height: 30px;
    color: #fff;
    cursor: pointer;
    border: 0;
    font-weight: bold;
    font-size: 16px;
    background: #605d58;
}
.calender-field li:last-child {
    border: 0;
    margin: 0px 0 2px 0;
    width: 0;
    margin: 0;
    padding: 0;
}
/* location styles starts here */

/* page items styles starts here */

.page-items-wraper {
    width: 200px;
    float: left;
}
.page-progress {
    width: 457px;
    float: left;
}
.page-prgress__list {
    display: inline-block;
}
.page-progress__list {
    list-style: none;
    display: inline-block;
    margin: 0 4px 0 0;
}
.page-prgress__list__first-btn,
.page-prgress__list__last-btn {
    padding: 4px 7px 4px 6px;
    color: #807b92;
    margin: 0;
    cursor: pointer;
    background: #f3f3f3;
    border: 0;
    border-radius: 4px;
    border: 1px solid #ccc;
}
.pagination-wraper {
    padding: 10px;
    margin: 26px 0 0 0;
}
.page-progress__list__left,
.page-progress__list__right {
    padding: 4px 16px 5px 15px;
    background: #f3f3f3;
    border: 0;
    cursor: pointer;
    margin: 0 4px 0 0;
    border-radius: 4px;
    border: 1px solid #ccc;
}
.page__list__number {
    background: #f8f2f6;
    border-radius: 4px;
    margin: 0 4px 0 0;
    font-size: 14px;
    color: #000;
    padding: 0px 10px 0 7px;
}
.page-progress__list .page-progress__list .active {
    background: #3497ce;
    color: #fff;
}
.page-items-view {
    width: calc(100% - (200px + 457px));
}
.page-items-view__list {
    font-size: 15px;
    display: inline-block;
    text-overflow: ellipsis;
    width: 213px;
    overflow: hidden;
}
.page-items {
    font-size: 15px;
}
/* page item styles ends here */

/* job details styles starts here */

.job-details-wrapper {
    border: 1px solid #ccc;
    margin: 0 0 19px 0;
}
.job-details {
    width: 100%;
    background: #fff;
    border-collapse: collapse;
}
.job-details thead tr th {
    text-align: justify;
    font-size: 12px;
    font-weight: bold;
    padding: 4px 0 4px 7px;
}
.job-details tbody tr td {
    padding: 7px;
}
.job-details thead {
    background: url("../Images/th-bg.png");
    background-size: 100% 100%;
}
.page-items__select {
    background: #fff;
}
.job-details tbody tr {
    border-bottom: 1px solid #ccc;
}
.job-details tbody tr td:first-child {
    font-weight: bold;
    font-size: 14px;
}
.job-details tbody tr td {
    font-size: 12px;
}
.job-details__icon {
    width: 30px;
    position: relative;
    margin: 1px 9px 0 0;
    height: 24px;
    display: inline-block;
    top: 6px;
}
.job-details__task {
    background: url("../Images/task.png") no-repeat;
    background-position: center;
}
.job-details__book {
    background: url("../Images/job.png") no-repeat;
    background-position: center;
}
.job-details__drop {
    background: url("../Images/drop.png") no-repeat;
    width: 27px;
    margin: 0 0 0 4px;
    position: relative;
    height: 20px;
    background-size: 100% 100%;
    display: inline-block;
    top: 4px;
}
.risk-level__hazard-type__text {
    font-size: 13px;
}
/* job details  styles ends here */

/* footer section starts here */

.footer__copy.fright {
    color: #8c8c8e;
    font-size: 12px;
    display: inline-block;
    font-weight: bold;
    margin-bottom: 11px;
}
/* footer section ends here */