* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
}
body {
    background: #e5e5e5;
    font-family: arial;
    color: #32424e;
    font-weight: 400;
}
/*Resizing  property starts*/

.fright {
    float: right;
}
.fleft {
    float: left;
}
.clearfix {
    display: block;
    clear: both;
}
.height-hundred {
    height: 100%;
}
.active {
    background: #00a3e8;
}
/*Resizing  property ends*/

/*header property starts here*/

.wrapper {
    max-width:1000px;
    background:#eee;
    margin:0 auto;
    display:flex;
    flex-flow:row wrap;
}


.header {
    height: 80px;
    background: #32424e;
    flex: 100%;
}
.header__logo-link {
    display: inline-block;
}
.header__logo {
    width: 300px;
    margin: 9px auto;
}
.header__welcome-text {
    color: #fff;
    padding: 31px;
}
/*header property ends here*/

/*navigation strats here*/

.side-nav__link {
    display: block;
    height: 39px;
    padding: 11px;
    background: #485d6e;
    color: #fff;
    border-bottom: 1px solid #748491;
    text-decoration: none;
    font-weight: 600;
}
.side-nav__link.active {
    background: #00a3e8;
}
.side-nav__link:hover {
    background: #00a3e8;
    color: #fff;
}
.side-nav {
    flex: 0 0 250px;
    background: #485d6e;
    order: 1;
}
/*navigation ends here*/

/*main content property here*/
.main-content__heading {
    margin: 14px 17px;
    font-size: 36px;
    font-weight: 400;
    text-decoration: underline; 
    line-height: 41px;
}
.main-content__paragraph {
    padding: 17px;
    text-align: justify;
}
.main-content {
    flex: 1;
    background: #fff;
    line-height: 25px;
    overflow: auto;
    height: calc(100% - 120px);
    order: 2;
}
.ad-content {
    flex: 0 0 200px;
    background: #e7f2fa;
    order: 3;
}
.ad-content__primary__ad-image {
    width: 135px;
}
.ad-content__secondary__ad-image {
    width: 185px;
}
.ad-content__primary,
.ad-content__secondary {
    text-align: center;
    padding-top: 24px;
}
/*main content property ends here*/

/*footer content property strats here*/

.footer-section {
    height: 40px;
    background: #32424e;
    order: 5;
    flex: 100%;
}
.footer-section__copyright {
    color: #fff;
    padding: 10px;
}

/*footer content property ends here*/

/*media query*/

@media (max-width: 640px) {
    .header__logo{
        width: 100%;
    }
    .wrapper{
        height: auto;
        flex-flow:column wrap;
    }

}
/* meida query */