* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body,
html {
    height: 100%;
}
body {
    background: #e5e5e5;
    font-family: arial;
    line-height: 22px;
    color: #32424e;
    font-weight: 300;
}
/*Resizing  property starts*/

.fright {
    float: right;
}
.fleft {
    float: left;
}
.clearfix {
    display: block;
    clear: both;
}
/*Resizing  property ends*/
/*navigation css  property*/

.top-header {
    background: #32424e;
    height: 80px;
}
.top-header__welcome-txt  {
    color: #fff;
    margin: 27px;
    font-weight: 600;
}
.top-header__logo{
    width: 300px;
    padding-top: 10px;
}
.top-header__logo__link img {
    padding-top: 11px;
}

.main-content__heading {
    padding-left: 30px;
    font-size: 37px;
    font-weight: 400;
    margin: 22px auto;
    text-decoration: underline;
}
.main-content__paragraph {
    text-align: justify;
    padding:0 30px 0 30px;
    line-height: 23px;
    margin-top: 22px;
}
/*navigation css  property Ends*/


/*side navigation properties starts*/

.side-nav {
    width: 250px;
    background: #485d6e;
  
}
.side-nav .side-nav__link {
    text-decoration: none;
    color: #fff;
    display: block;
    text-align: left;
    padding: 9px 0px 9px 24px;
    border-bottom: 1px solid #748391;
    font-size: 18px;
}
.side-nav .side-nav__link:hover {
    background: #00a3e8;
    color: #fff;
}
.active {
    background: #00a3e8;
}
/*side navigation properties ends*/
/*layout content property starts*/

.layout-container {
    width: 1000px;
    margin: 0 auto;
    background: #fff;
    /*! border: 2px solid green; */
}
.height-100per {
    height: 100%
}
.main-content {

    overflow: auto;
    background: #fff;
    width: calc(100% - (250px + 200px));
}
.main-wraper{
    height: calc(100% - 120px)
}
/*layout content property ends*/

/*Right section content property*/
.ad-content {
    width: 200px;
    float: right;
    background: #e7f2fa;
}
.ad-content__ad__img {
    text-align: center;
}
.ad-content__ad__img .ad-content__ad__img_primary,
.ad-content__ad__img .ad-content__ad__img_secondry {
    margin-top: 23px;
}
.ad-content__ad__img_primary{width: 189px;}
.ad-content__ad__img_secondry{width: 130px;}
/*Right section content property ends*/
/*footer prepert starts here*/

.footer-section {
    height: 40px;
    background: #32424e;
    bottom: 0;
    width: 1000px;
    margin: 0 auto;
    position: fixed;
    left: 0;
    right: 0;
}
.footer-section__text {
    color: #fff;
    padding: 12px 24px;
}
/*footer property  ends here*/