/* global button styles goes here */

.ui.adn--button{
	color: #fff;
	padding: 12px;
	border-radius: 4px;
	height: 35px;
	font-weight: 500;
	font-size: 12px;
	background: #FF7F00;
	box-shadow: 0 3px 6px 0px rgba(255, 127, 0, 0.4);
}

.ui.adn--button:hover{
	color: #fff;
	border-radius: 4px;
	background: #FF7F00;
	box-shadow: 0 6px 11px 0px rgba(255, 127, 0, 0.4);
}

/* all global button style ends here */