/* ::: date picker style goes here ::: */

#start.calendar-wrapper[data-theme='blue'] .calendar-date-holder .calendar-dates .date.selected.current a ,
#end.calendar-wrapper[data-theme='blue'] .calendar-date-holder .calendar-dates .date.selected.current a{
    color: #fff;
    background: #ee7e12;
    padding: 5px 0 0 0;
    width: 17px;
    height: 17px;
    display: inline-block;
    border-radius: 15px;
}


#start .calendar-top-selector,
#end .calendar-top-selector {
    display: table;
    width: 100%;
    background-color: #191E33;
    height: 76px;
    border-radius: 10px 10px 0px 0px;
}


#start .calendar-container,
#end .calendar-container {
    padding: 10px;
    height: 243px;
    width: 216px;
    -ms-user-select: none;
    -moz-user-select: none;
}

#start .calendar-date-holder .calendar-dates,
#end .calendar-date-holder .calendar-dates {
    position: absolute;
    display: table;
    border-radius: 0 0px 9px 10px;
    width: 196px;
    border: 1px solid rgba(25, 30, 51, 0.26);
    -o-transition: margin-left .3s cubic-bezier(0.4, 0.0, 0.2, 1), transform .3s ease, opacity .3s ease;
    -moz-transition: margin-left .3s cubic-bezier(0.4, 0.0, 0.2, 1), transform .3s ease, opacity .3s ease;

}
#start .calendar-grid .calendar-date-holder ,#end .calendar-grid .calendar-date-holder {
    position: relative;
    width: 197px;
    height: 128px;
    overflow: hidden;
}

#start .calendar-top-selector .calendar-curr-month,
#end .calendar-top-selector .calendar-curr-month {
    padding-bottom: 4px;
    font-size: 12px;
    color: #fff;
    vertical-align: middle;
}

#start .calendar-next, .calendar-prev,
#end .calendar-next, .calendar-prev  {
    font-family: 'Times New Roman';
    font-size: 24px;
    width: 14%;
    color: rgb(50,50,50);
}

#start .calendar-top-selector span,
#end .calendar-top-selector span {
    text-align: center;
    width: 20px;
    height: 8px;
    color: rgba(255, 255, 255, 0.54);
    font-weight: bold;
    cursor: pointer;
    vertical-align: middle;
}


#start .calendar-labels,
#end .calendar-labels {
    border-top: 1px solid rgba(255, 255, 255, 0.58);
}

#start .calendar-grid .calendar-labels, #end .calendar-grid .calendar-labels {
    display: table;
    width: 100%;
    background: #191f34;
}

#start .calendar-grid .calendar-labels span,
#end .calendar-grid .calendar-labels span {

    color: #fff;
    font-size: 9px;

}


#start .calendar-date-holder .calendar-dates .date a,
#end .calendar-date-holder .calendar-dates .date a  {
    text-decoration: none;
    display: block;
    color: inherit;
    padding: 3px;
    font-size: 10px;
    margin: 1px;
    outline: none;
    border: 2px solid transparent;
    transition: all .3s;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
}


#start .calendar-date-holder .calendar-dates .date.selected a,
#end .calendar-date-holder .calendar-dates .date.selected a  {
    color: #fff !important;
    width: 19px;
    border-radius: 10px;
    height: 18px;
    padding: 5px 0 0 0;
    background: #ee7e12;
}


#start .calendar-wrapper,#end .calendar-wrapper {
    font-family: Roboto;
    font-size: 14px;
    position: relative;
    width: 216px;
}


#start .calendar-grid .calendar-labels span,
#end .calendar-grid .calendar-labels span {
    display: table-cell;
    width: 14%;
    text-align: center;
    color: #fff;
    font-size: 11px;
    padding: 4px 0 4px 0;
    vertical-align: middle;
}


/* ::: date picker style end here */