/* ::: DROPDOWN STYLES STARTS HERE ::: */

.ui.adn--dropdown .inline.field label {
    color: rgba(25, 30, 51, 0.5);
    font-size: 13px;
    font-weight: 300;
    width: 75px;
}

.ui.form.adn--dropdown .inline.field .dropdown.selection {
    width: calc(100% - 85px);
    height: 35px;
    font-weight: 300;
    font-family: inherit;
    border-radius: 3px;
    margin: 0 0 20px 0;
    font-size: 13px;
    border: 1px solid rgba(25, 30, 51, 0.2);
}

.ui.form.adn--dropdown .inline.field > .dropdown:focus {
    border: 1px solid #FF7F00;
}

.ui.form.adn--dropdown .ui.selection.active.dropdown .menu {
    border-color: #fa7d01;
}

.text {
    color: rgba(0, 0, 0, 0.8);
}


.adn--card .adn--card__content .ui.form.adn--dropdown .inline.field .ui.dropdown .menu .item {
    font-family: inherit;
    font-weight: 300;
    color: rgba(25, 30, 51, 0.5);
}   
/* ::: DROPDOWN STYLES ENDS HERE ::: */