/* global drop down style starts here */

.ui.adn--dropdown .inline.field>label {
    color: rgba(25, 30, 51, 0.51);
    font-size: 14px;
    font-weight: 500;
}


.ui.form.adn--dropdown .inline.field>.dropdown {
    height: 35px;
    border-width: 1px;
    border-radius: 3px;
    margin: 0 0 20px 0;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(25, 30, 51, 0.28);
}



.ui.form.adn--dropdown .inline.field>.dropdown:focus {
border: 1px solid #FF7F00;
}



.ui.form.adn--dropdown .ui.selection.active.dropdown .menu { 
   border-color: #fa7d01;
}

.text {   
 color: rgba(0, 0, 0, 0.8);
}


/* global drop down style ends here */