/* reset styles starts here */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-weight: 400;
    background: #f7f8fa;
    font-family: 'Montserrat', sans-serif;
}

/* reset style ends here */


/* common style starts here */

.adn--fleft {
    float: left;
}
.adn--fright {
    float: right;
}
.adn--clearfix:after {
    content: '';
    display: block;
    clear: both;
}
.adn--height-100per {
    height: 100%;
}

.adn--padding-0{
    padding: 0 !important;
}

/* common style ends here */



    