/* reset styles starts here */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-weight: 400;
    background: #f7f8fa;
    font-family: 'Montserrat', sans-serif;
}

/* reset style ends here */


/* common style starts here */

.adn--fleft {
    float: left;
}
.adn--fright {
    float: right;
}
.adn--clearfix:after {
    content: '';
    display: block;
    clear: both;
}
.adn--height-100per {
    height: 100%;
}
/* common style ends here */


/* header style starts here */

.ui.segment.adn--header {
    /* box-shadow: 0 1px 8px 3px rgba(34, 36, 38, 0.71); */
    box-shadow: 0 6px 6px 0 rgba(0,0,0,0.16), 0 10px 20px 0 rgba(0,0,0,0.09);
    border-radius: 0;
    height: 80px;
}

i.adn--menu-icon{
    color: #FF7F00;
    font-size: 22px;
    padding: 14px 24px 0 0;
}

.adn--logo-link {
    display: inline-block;
    padding: 14px;
}

.adn--logo-img {
    width: 136px;
}

/* header style ends here */

/* card style starts here */
.ui.adn--card{

    width: 600px;
    border-radius: 8px;
    background-color: #FFFFFF;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.23), 0 3px 6px 0 rgba(0,0,0,0.16);
}
.adn--card-hero {
    color: #191E33;
    font-size: 14px;
    font-weight: 500;
}
/* card style ends here */