/* ::: HEADER STYLES STARTS HERE :::*/

.adn--layout__header-wrapper {
    height: 80px;
}

.adn--layout__header {
    background: #ffffff;
    height: 100%;
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.16), 0 10px 20px 0 rgba(0, 0, 0, 0.09);
    position: relative;
    z-index: 999;
}

.adn--layout__header-link {
    padding: 30px 0 0 30px;
    width: 200px;
    display: inline-block;
    position: relative;
}

.adn--layout__header-breadcrumb {
    height: 30px;
    margin-top: 30px;
    position: relative;
    padding-left: 30px;
}

.adn--layout__header-breadcrumb:after {
    content: '';
    position: absolute;
    height: 40px;
    background: rgba(25, 30, 51, 0.2);
    width: 1px;
    left: 0;
    top: -10px;
}

.adn--layout__header-menu__wrapper {
    width: calc(100% - 764px);
    padding: 16px 0 0 0;
}

.adn--layout__header-breadcrumb .ui.breadcrumb a {
    color: #191E33;
    font-size: 13px;
}


.adn--layout__header__right .ui.celled .item {
    font-size: 13px;
    color: rgba(25, 30, 51, 0.5);
}


.adn--layout__header__right .ui.celled {
    margin: 20px 0px 0 0;
}

.adn--layout__header__right .ui.list .item {
    text-align: center;
    height: 40px;
    }


/*.adn--layout__header__right .ui.list .item:hover .adn--layout__header__right__filter-card {
    opacity: 1;
}*/
.adn--layout__header__right__icon:before {
    font-size: 18px;
    padding: 0 0 0 14px;
    color: rgba(25, 30, 51, 0.38);
}


.adn--layout__header__menu .ui.button i.icon {
    font-size: 25px;
    color: #FF7F00;
    color: background-color: #FF7F00;
}

.adn--layout__header__right .ui.list>.item.active .ui.adn--layout__header__right_button, .adn--layout__header__right .ui.list>.item.active .adn--layout__header__right__icon:before{
     color: #191E33; 
   background: none;
}

.adn--layout__header__right {
    position: relative;
}

.adn--layout__header__right__filter-card {
    width: 387px;
    background-color: #FFFFFF;
    position: absolute;
    top: 84px;
    left: -41px;
    display: none;
    opacity: 0;
    padding: 44px 0 0 0;
    box-shadow: 0 6px 6px 0 rgba(0,0,0,0.16), 0 10px 20px 0 rgba(0,0,0,0.09);
}


.ui.adn--layout__header__right__filter-card__field .inline.field label {
    width: 54px;
    text-align: left;
}


.ui.adn--layout__header__right__filter-card__field .inline.field input {
    width: calc(100% - 132px);
}

.ui.adn--layout__header__right__filter-card__dropdown .inline.field label {
    width: 101px;
}
.adn--layout__header__right__filter-card .ui.adn--layout__header__right__filter-card__dropdown .inline.field label {
    width: 51px;
    text-align: left;
}

.adn--layout__header__right__filter-card .ui.adn--layout__header__right__filter-card__dropdown 
.inline.field .ui.dropdown.selection  {
     width: calc(100% - 132px);
}

.adn--layout__header__right__filter-card:after {
    content: '';
    position: absolute;
    border-width: 9px;
    border-color: transparent transparent #fff transparent;
    top: -14px;
    border-style: solid;
}

.adn--layout__header__right__filter-card .adn--card__footer {
    width: calc(100% - 33px);
    height: 65px;
}

/* ::: HEADER STYLES ENDS HERE :::*/