/* ::: HEADER STYLES STARTS HERE :::*/

.adn--layout__header-wrapper {
    height: 80px;
}

.adn--layout__header {
    background: #ffffff;
    height: 100%;
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.16), 0 10px 20px 0 rgba(0, 0, 0, 0.09);
    position: relative;
    z-index: 999;
}

.adn--layout__header-link {
    padding: 30px 0 0 30px;
    width: 200px;
    display: inline-block;
    position: relative;
}

.adn--layout__header-breadcrumb {
    height: 30px;
    margin-top: 30px;
    position: relative;
    padding-left: 30px;
}

.adn--layout__header-breadcrumb:after {
    content: '';
    position: absolute;
    height: 40px;
    background: rgba(25, 30, 51, 0.2);
    width: 1px;
    left: 0;
    top: -10px;
}

.adn--layout__header-menu__wrapper {
    width: calc(100% - 764px);
    padding: 16px 0 0 0;
}

.adn--layout__header-breadcrumb .ui.breadcrumb a {
    color: #191E33;
    font-size: 13px;
}


.adn--layout__header__right .ui.celled .item {
    font-size: 13px;
    color: rgba(25, 30, 51, 0.5);
}


.adn--layout__header__right .ui.celled {display: flex;margin: 20px 0 0  0;}

.adn--layout__header__right .ui.list .item {
    text-align: center;
    height: 40px;
    }


.adn--layout__header__right .ui.list .item {
    position: relative;
    text-align: left;
}

.adn--layout__header__right .ui.list .item:first-child .adn--layout__header__right__icon:before {
    position: absolute;
    color: rgba(25, 30, 51, 0.54);
    right: 0;
    top: 6px;
    height: 20px;
    font-size: 16px;
    cursor: pointer;
}

.adn--layout__header__right .ui.list .item:first-child .adn--layout__header__right__icon{
    position: absolute;
    right: 10px;
    top: 10px;
}



.adn--layout__header .adn--layout__header__right .ui.list .item:first-child input.adn--layout__header__right__search {
    width: 80px;
    transition: all 0.5s;
    padding: 13px 25px 10px 10px;
    font-size: 11px;
    vertical-align: middle;
    margin: 0 17px 0 20px;
    outline: none;
    border: 1px solid transparent;
}


.adn--layout__header__right .ui.list .item:first-child input:focus.adn--layout__header__right__search {
    width: 195px;
    margin: 0 20px;
    border: 1px solid rgba(255, 127, 0, 0.52);
    border-radius: 3px;
}

.adn--layout__header__right .ui.list>.item.active .ui.adn--layout__header__right_button, .adn--layout__header__right .ui.list>.item.active .adn--layout__header__right__icon:before{
     color: #191E33; 
   background: none;
}

.adn--layout__header__right {
    position: relative;
}

.adn--layout__header__right__filter-card {
    width: 387px;
    background-color: #FFFFFF;
    position: absolute;
    top: 68px;
    left: -154px;
    display: none;
    border-radius: 3px;
    padding: 44px 0 0 0;
    box-shadow: 0 6px 6px 0 rgba(0,0,0,0.16), 0 10px 20px 0 rgba(0,0,0,0.09);
}


.ui.adn--layout__header__right__filter-card__field .inline.field label {
    width: 54px;
    text-align: left;
}


.ui.adn--layout__header__right__filter-card__field .inline.field input {
    width: calc(100% - 132px);
}

.ui.adn--layout__header__right__filter-card__dropdown .inline.field label {
    width: 101px;
}
.adn--layout__header__right__filter-card .ui.adn--layout__header__right__filter-card__dropdown .inline.field label {
    width: 51px;
    text-align: left;
}

.adn--layout__header__right__filter-card .ui.adn--layout__header__right__filter-card__dropdown 
.inline.field .ui.dropdown.selection  {
     width: calc(100% - 132px);
}

.adn--layout__header__right__filter-card:after {
    content: '';
    position: absolute;
    border-width: 9px;
    border-color: transparent transparent #fff transparent;
    top: -15px;
    right: 181px;
    border-style: solid;
}

.adn--layout__header__right__filter-card .adn--card__footer {
    width: calc(100% - 33px);
    height: 65px;
}

.adn--layout__header__menu {
    position: relative;
}



.adn--layout__header__menu__links-wrapper {
    width: 200px;
    background: #fff;
    margin-top: 32px;
    right: 7px;
    position: absolute;
    border-radius: 8px;
    box-shadow: 0 6px 6px 0 rgba(0,0,0,0.16), 0 10px 20px 0 rgba(0,0,0,0.09);
}

.adn--layout__header__menu .adn--layout__header__menu__links-wrapper .ui.list .description {
    font-size: 11px;
    color: rgba(25, 30, 51, 0.51);
    margin-top: 20px;
}

.adn--layout__header__menu__links-wrapper .ui.list a {
    padding: 4px 0 0 0;
    font-size: 11px;
    width: 100%;
    height: 20px;
    overflow: hidden;
    word-wrap: break-word;
    font-weight: 300;
    color: rgba(25, 31, 52, 0.51);
    display: inline-block;
}


.adn--layout__header__menu__links-wrapper .ui.list a.active {
    color: #ee7e12;

}

.adn--layout__header__menu__line {
    width: 100%;
    display: inline-block;
    margin: 0 10px;
    height: 1px;
    background: rgba(25, 30, 51, 0.33);
}



.adn--layout__header__menu__links-wrapper .ui.list .item .header {
    display: flex;
    align-items: center;
}

.adn--layout__header__menu__link__button {
    margin: 0 0 10px 0;
    text-align: center;
}

.adn--layout__header__menu__links-wrapper:after {
    position: absolute;
    content: '';
    border-width: 6px;
    right: 21px;
    border-color: transparent transparent #fff transparent;
    top: -12px;
    border-style: solid;
}


.adn--layout__header__right .ui.list .item:nth-child(2),.adn--layout__header__right .ui.list .item:last-child {
    position: relative;
}

.adn--layout__header__menu .adn--layout__header__menu__links-wrapper .ui.list .description a.active:before{
      position: absolute;
    content: '';
    width: 2px;
    left: 0px;
    height: 20px;
    box-shadow: 0 0 4px 0 rgba(255,127,0,0.5);
    border-radius: 2px;
    background-color: #FF7F00;
}

.adn--layout__header__right__icon:before {
    font-size: 16px;
    padding: 0 12px;
    color: rgba(25, 30, 51, 0.54);
}

.ui.adn--layout__header__menu__button i.icon {
    font-size: 24px;
    color: #ee7e12;
}


.adn--layout__header__menu__links-wrapper .ui.list a .adn--layout__header__menu__icon:before {
    color: rgba(25, 31, 52, 0.51);
    font-size: 17px;
    padding: 0 12px 0 0;
}

.adn--layout__header__menu__links-wrapper .ui.list a.active .adn--layout__header__menu__icon:before {
    color: #FF7F00;
}

.ui.adn--menu-btn {
    background: none;
    color: rgba(25, 31, 52, 0.51);
    box-shadow: none;
}

.adn--layout__header__menu__links-wrapper .ui.list a:hover{

    color: rgb(25, 31, 52);
}
.adn--layout__header__menu__links-wrapper .ui.list a .adn--layout__header__menu__icon:hover:before {

    color: rgb(25, 31, 52);
}

.adn--layout__header__menu__links-wrapper{
    display: none;
}

.adn--layout__header__right__calender__range .ui.list .item.active a {
    color: #ee7e12 !important;
}



.adn--layout__header__right__calender__action-wrapper {
    margin-top: 30px;
}


/* ::: HEADER STYLES ENDS HERE :::*/



/* ::: CALENDER STYLE STARTS HERE   ::: */

.adn--layout__header__right__calender {
    width: 737px;
    background-color: #FFFFFF;
    box-shadow: 0 6px 6px 0 rgba(0,0,0,0.16), 0 10px 20px 0 rgba(0,0,0,0.09);
    border-radius: 8px;
    position: absolute;
    margin: 37px 0 0 0;
    left: -566px;
}


.adn--layout__header__right__calender__range .ui.list {
    width: 218px;
    margin: 0 auto;
    padding: 18px 0 0 0;
}

.adn--layout__header__right__calender__field {
    width: calc(100% - 219px);
    border-right: 1px solid rgba(25, 30, 51, 0.27);
}

.adn--layout__header__right .adn--layout__header__right__calender__wrapper 
.adn--layout__header__right__calender__range .ui.list .item a {
    color: rgba(25, 30, 51, 0.46);
    font-size: 11px;
    top: 10px;
    position: relative;
}

.adn--layout__header__right 
.adn--layout__header__right__calender__wrapper .adn--layout__header__right__calender__range
.ui.list .item a {
    color: rgba(25, 30, 51, 0.46);
    font-size: 11px;
    text-align: left;
}

.adn--layout__header__right .adn--layout__header__right__calender__wrapper
 .adn--layout__header__right__calender__range .ui.list .item {
    position: relative;
    height: 30px;
    text-align: left;
    padding-left: 40px;
    border-left: none;
}
.adn--layout__header__right .adn--layout__header__right__calender__wrapper
 .adn--layout__header__right__calender__range .ui.list .item:last-child {
   border-right: none;
}
.adn--layout__header__right .adn--layout__header__right__calender__wrapper
 .adn--layout__header__right__calender__range .ui.list .item.active:before {
    position: absolute;
    content: '';
    width: 2px;
    left: -2px;
    height: 30px;
    box-shadow: 0 0 4px 0 rgba(255,127,0,0.5);
    border-radius: 2px;
    background-color: #FF7F00;
}


.adn--layout__header__right__calender__action-wrapper .adn--button-secondary {
    margin: 0 9px 0 22px;
}

.adn--layout__header__right__calender__wrapper.adn--fright {
    border-right: none;
}

.adn--layout__header__right__calender:after {
    position: absolute;
    content: '';
    border-width: 6px;
    right: 93px;
    border-color: transparent transparent #fff transparent;
    top: -12px;
    border-style: solid;
}

.adn--layout__header__right__calender__date__start-wrapper {
    width: 217px;
}

.adn--layout__header__right__calender__date__end-wrapper {
    width: calc(100% - 217px);
}

.adn--layoput__header__right__calender__wrapper {
    height: 245px;
    width: 440px;
    padding-top: 14px;
    margin: 0 auto;
}

.adn--layout__header__right__calender__date-fields__wrapper.adn--clearfix {
    width: 440px;
    margin: 0 auto;
}

.adn--layout__header__right__calender__date-fields__wrapper
.adn--layout__header__right__calender__date__start-wrapper 
.ui.adn--input .inline.field label
{
    width: 55px;
    font-size: 11px;
}

.adn--layout__header__right__calender__date-fields__wrapper
.adn--layout__header__right__calender__date__end-wrapper 
.ui.adn--input .inline.field label
{
    width: 55px;
    font-size: 11px;
}

.adn--layout__header__right__calender__date-fields__wrapper
.adn--layout__header__right__calender__date__start-wrapper 
.ui.adn--input .inline.field input

{
    width: calc(100% - 89px);
        height: 33px;
}

.adn--layout__header__right__calender__date-fields__wrapper
.adn--layout__header__right__calender__date__end-wrapper 
.ui.adn--input .inline.field input
{
    width: calc(100% - 93px);
    height: 33px;
}


.adn--layout__header__right__calender {
    display: none;
}


.adn--layout__header__menu__links-wrapper .content {
    border-bottom: 1px solid rgba(25, 30, 51, 0.26);
    padding: 10px 0 12px 20px;
}

.adn--layout__header__right__filter-card .adn--input {
    text-align: center;
}


.adn--layout__header__menu .ui.adn--layout__header__menu__button {
    margin: 30px 0 0 0;
    padding: 0 20px 0 20px;
    background: none;
    line-height: 19px;
}


.ui.adn--layout__header__right_button{
    background: none;
    padding: 10px 20px 0 20px;
    font-size: 11px;
    line-height: 19px;
    font-weight: 500;
    margin: 0;
}

.ui.adn--layout__header__right_button:active{
    background: none;
    
}

.ui.adn--layout__header__right_button:hover{
    background: none;
}

.ui.adn--layout__header__right_button:focus{
    background: none;
}

.adn--layout__header__menu .ui.adn--layout__header__menu__button {
    margin: 30px 0 0 0;
    padding: 0 20px 0 20px;
    background: none;
    line-height: 19px;
}

.adn--layout__header__right__calender-edit {
    left: -232px;
    top: 65px;
}

.adn--layout__header__right__calender-edit:after {
    content: '';
    position: absolute;
    border-width: 9px;
    border-color: transparent transparent #fff transparent;
    top: -15px;
    right: 105px;
    border-style: solid;
}


/* ::: CALENDER STYLE ENDS HERE ::: */




