/* gloabal input style starts here */

.ui.form input[type=text].adn--input,.ui.form input[type=password].adn--input{
       height: 35px;
       background: #fff;
       font-size: 14px;
       font-weight: 300;
       border-width: 1px;
}

/* gloabal input style ends here */
