/* global input field css starts here */
.ui.adn--input .inline.field>label {
    color: rgba(25, 30, 51, 0.51);
    font-size: 14px;
    font-weight: 500;
}
.ui.adn--input .inline.field>input {
    height: 35px;
    border-width: 1px;
    border-radius: 3px;
    font-size: 14px;
    border: 1px solid rgba(25, 30, 51, 0.28);
}
/* global input field ends here */