/* global input field css starts here */

.ui.form.adn--input{
	margin-bottom: 20px;
}

.ui.adn--input .inline.field>label {
    color: rgba(25, 30, 51, 0.51);
    font-size: 14px;
    font-weight: 500;
}
.ui.adn--input .inline.field>input {
    height: 35px;
    border-width: 1px;
    border-radius: 3px;
    font-size: 14px;
    border: 1px solid rgba(25, 30, 51, 0.28);
}

.ui.adn--input .inline.field>input:focus {
    border: 1px solid #ff7f00;
}

/* global input field ends here */