
/* global label style goes here */
.ui.form .inline.field>.adn--label{
	    color: rgba(25, 30, 51, 0.44);
    font-size: 11px;
    line-height: 16px;
    text-align: right;
    margin: 10px;
}

/* global label style ends here */