/* ::: LAYOUT STYLES STARTS HERE ::: */

.adn--layout {
    height: 100%;
}

.adn--layout__col-wrapper {
    height: calc(100% - 80px);
}

.adn--layout__right-col__button-wrapper{
    margin: 20px 0 20px 0;
}

.ui.adn--layout .adn--layout__col-wrapper .adn--layout__right-col{
    width: calc(100% - 280px);
    margin:0 auto;
}

.ui.adn--layout .adn--layout__col-wrapper .adn--layout__left-col {
    width: 200px;
}


.adn--layout__header-wrapper{
    height: 80px;
    background: #fff;
    width: calc(100% - 80px);
    margin: 0 auto;
}

.adn--layout__col-table__wrapper {
    height: calc(100% - 80px);
    background: #91919e;
}

/* ::: LAYOUT STYLES ENDS HERE ::: */
