
/* resizeing styles */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    height: 100%;
}


body{
    background: #f7f8fa;
}
.adn--nopadding-0{
    padding: 0 !important;
}


.adn--margin-0 {
    margin: 0 !important;

}

.adn--clearfix:after {
    content: '';
    display: block;
    clear: both;
}

.adn--height100-per{
    height: 100%;
}

.adn--fleft{
    float: left;
}
.adn--fright{
    float:right;
}
/* resizing style ends herer */

/* Header goes here */

.adn--layout__header{
    background: #fff;
    height: 80px;
    box-shadow: 0 6px 6px 0 rgba(0,0,0,0.16), 0 10px 20px 0 rgba(0,0,0,0.09);
}
.adn--layout__header-link {
    padding: 30px;
    width: 200px;
    display: inline-block;
    position: relative;
}

.adn--layout__header-breadcrumb {
    width: 559px;
    padding: 32px 0 32px 40px;
}
.adn--layout__header-menu__wrapper {
    width: calc(100% - 764px);
    padding: 24px 0 22px 0;
}


.adn--layout__header-link:after {
    position: absolute;
    content: '';
    height: 40px;
    width: 1px;
    top: 23px;
    right: 0;
    background-color: rgba(25, 30, 51, 0.22);

}
.adn--layout__header-breadcrumb .ui.breadcrumb a {
    color: #191E33;
    font-size: 13px;
}


.ui.adn--layout__header-menu__button {
    background: none;
    font-weight: 500;
    font-size: 13px;
    color: rgba(25, 30, 51, 0.44);
}
.ui.adn--layout__header-menu__button:active,.ui.adn--layout__header-menu__button:focus{
    background: #fff;

}
.ui.adn--layout__header-menu__button:hover {
    background: none;

}

.ui.adn--layout__header-menu__button i.icon {
    font-size: 19px;
    padding: 0 0 0 18px;
}

.adn--layout__header-menu__wrapper .ui.horizontal.celled.list>.item:last-child .adn--layout__header-menu__button i.icon {color: #FF7F00;font-size: 21px;}

.adn--layout__header-menu__wrapper .ui.horizontal.celled.list>.item:last-child{
    border-right:none;
    color: #FF7F00;
}
/* header ends here */


/* left naviaggation components  goes here */


.ui.adn--layout>.row>.adn--layout__left-col {
    width: 200px;
    height: 100%;
    border-right: 1px solid rgba(25, 30, 51, 0.29); 
}
.ui.adn--layout>.row>.adn--layout__right-col {
    width: calc(100% - 280px);
    margin: 0 auto;
}
    

.adn--layout__left-col__navigation-components__nav__link {
    display: block;
    font-size: 15px;
    color: rgba(25, 30, 51, 0.48);
    margin: 40px 0 40px 33px;
    position: relative;
}

.adn--layout__left-col__navigation-components__nav__link.active:after {
    position: absolute;
    height: 30px;
    width: 3px;
    content:'';
    color: #FF7F00;
    right: -2px;
    background-color: #FF7F00;
    content: '';
    border-radius: 1.5px;
    box-shadow: 0 0 4px 0 rgba(255,127,0,0.5);
}

.adn--layout__left-col__navigation-components__nav__link.active {

    color: #FF7F00;

}
.adn--layout__left-col__navigation-components__nav__link:hover {

    color: #FF7F00; 

}
.adn--layout__left-col__navigation-components__nav__link i.icon {
    margin-right: 17px;
}


.adn--layout__header-menu__wrapper .ui.horizontal.celled.list>.item {
    padding: 0 40px 0 40px;
}
/* left navigation components ends here */


/*right side main content goes here */

.adn--layout__right-col__button-wrapper{
    margin: 20px 0 20px 0;
}


/* tight side main content ends here */
