/* login form styles starts here */

.adn--login-left-col{
    background: #191E33;
    color: #fff;
    vertical-align: middle;
}
.ui.adn--login-layout>.adn--login-left-col:not(.row), .ui.grid>.row>.adn--login-right-col{
	padding-left: 0;
	padding-right: 0;
}

.adn--login-left-col {
    background: url("../images/bg.png");
    background-size: cover;
    margin: 10px0;
    position: relative;
    height: 100%;
}

.adn--login-hero{
	
	color: #191E33;
	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
	text-align: center;
	border-bottom: 1px solid rgba(25, 30, 51, 0.14);
	padding:0 0 25px 0;
}

.adn--login-layout{
	height: 100%;
}
.ui.adn--login-layout > .adn--nopadd{
    padding-top: 0;
    padding-bottom:0;
}
.adn--logo-text-one{
	color: #FF7F00;
	font-size: 60px;
	font-weight: 500;
	line-height: 62px;
}
.adn--logo-text-two{
	color: #fff;
	font-size: 60px;
	font-weight: 500;
	line-height: 62px;
}
.adn--logo{
	text-align: start;
	left: 0;
	display: inline-block;
	/* width: 304px; */
	/* text-overflow: ellipsis; */
	/* overflow: hidden; */
	/* position: relative; */
}

.adn--logo-hero:first-child{
	text-align: center;
	margin: 0 0 0 0;
}

.adn--login-paragraph {
    color: #FFFFFF;
    text-align: left;
    padding: 0 10px 0 44px;
    word-wrap: break-word;
    font-size: 35px;
    line-height: 50px;
    font-weight: 300;
    margin: 0 auto;
}
.adn--text-color{
	color: #FF7F00;
}

.adn--login-form-wrapper {

}

.adn--login-right-para {
    padding: 10px;
    text-align: center;
    color: #191E33;
    font-size: 11px;
    font-weight: 300;
    line-height: 19px;
    text-align: center;
}

.adn--logo-img {
    width: width: 304px;
    width: 304px;
    margin: 56px 89px 29px 0;
}

.adn--login {
    padding: 26px 25px 19px 0;
}
.ui.form .field>.adn-label{
	margin: 12px 0 0 0;
	text-align: right;
	opacity: 0.4;
	color: rgba(25, 30, 51, 0.98);
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
}
.adn--login-checkbox {
    margin: 17px 0 0 33px;
}


 .adn--signed-label{
	opacity: 0.5;
	color: #191E33;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 12px;
	text-align: left;
	width: 156px;
	font-size: 11px !important;
	font-weight: 500;
	line-height: 15px;
}
.ui.form .field>.adn--forget-label{
	color: #FF7F00;
	font-size: 11px;
	overflow: hidden;
	white-space: nowrap;
	width: 97px;
	display: inline-block;
	margin: 18px 35px 0 0;
	font-weight: 500;
	line-height: 15px;
	text-overflow: ellipsis;
}

.adn--login-paragraph-wrapper {
    width: 486px;
    margin: 0 auto;
}
.adn--left{
	    position: relative;
    height: 100%;
}

/* login form style ends here */

/* footer style starts here */

.adn--login-footer{
	text-align: center;
	color: rgba(25, 30, 51, 0.69);
	font-size: 11px;
	height: 0;
	line-height: 15px;
	text-align: center;
}

/* footer style ends here */
