/* login form styles starts here */

.adn--login__left-col {
    background: url("../images/bg.png");
    background-size: cover;
}
.ui.grid>.row>.adn--login__left-col {
    display: flex;
    align-items: center;
    justify-content: center;
}
.adn--login__hero {
    color: #191E33;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    text-align: center;
    border-bottom: 1px solid rgba(25, 30, 51, 0.14);
    padding: 0 0 25px 0;
}
.adn--login-layout {
    height: 100%;
}
.adn--logo-text-one {
    color: #FF7F00;
    font-size: 60px;
    font-weight: 500;
    line-height: 62px;
}
.adn--logo-text-two {
    color: #fff;
    font-size: 60px;
    font-weight: 500;
    line-height: 62px;
}
.adn--login__left-col__logo-link {
    display: inline-block;
    width: 100%;
    margin:0 0 35px 0;
}
.adn--logo-hero:first-child {
    text-align: center;
    margin: 0 0 0 0;
}
.adn-login__content-paragraph {
    color: #FFF;
    text-align: left;
    word-wrap: break-word;
    font-size: 35px;
    width: 450px;
    line-height: 50px;
    font-weight: 300;
    margin-bottom: 40px;
}
.adn--highlight__text {
    color: #FF7F00;
}
.adn--login__para {
    padding: 10px;
    text-align: center;
    color: #191E33;
    font-size: 13px;
    font-weight: 300;
    line-height: 19px;
    text-align: center;
}
.adn--login__left-col__logo {
    width: 100%;
}
.adn--login {
    padding: 26px 25px 19px 0;
}
.adn--login-checkbox {
    margin: 17px 0 0 33px;
}

.adn--middle__align {
    position: relative;
    height: 100%;
    margin-top: 0 !important;
}

/* <-----------------------------------------------------------------left content ends here */

/* right content starts here ----------------------------------------------------------------->*/
/* right contet starts here */
.ui.grid>.row>.column.adn--login-right-col {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* right conternt ends here */

.adn--login__right-col__title{
    color: #191E33;
    font-size: 16px;
    /* width: 100%; */
    font-weight: 500;
    border-bottom: 1px solid #ccc;
    padding: 0 0 30px 0;
    line-height: 22px;
    text-align: center;
}
.adn--login__right-col__paragraph {
    color: #191E33;
    font-size: 14px;
    padding: 12px 0 48px 0;
    font-weight: 300;
    text-align: center;
}

.adn--login__right-col__form {
    width: calc(100% - 80px);
    margin: 0 auto;
}

.adn--login__right-col__input-label{
    color: rgba(25, 30, 51, 0.55);
    display: inline-block;
    width: 83px;
    font-size: 14px;
}

.adn--login__right-col__input {
    width: calc(100% - 89px);
    height: 35px;
    padding: 8px;
    font-weight: 300;
    font-size: 14px;
    border: 1px solid rgba(25, 30, 51, 0.25);
    margin: 2px 0 13px 0;
    border-radius: 3px;
    border-width: 1;
}

.adn--login__right-col__input-wrapper {
    border: 1px solid red;
    height: 20px;
    margin: 0 2px 21px 0;
}

.adn--login__right-col__form-wrapper {
    width: calc(100% - 80px);
    margin: 0 auto;
}

.adn--login__right-col__password__label {
    margin: 0 45px 0 0;
    font-size: 12px;
    font-weight: 500;
    color: #FF7F00;
}

.adn--login__right-col__checkbox-label{
     color: rgba(25, 30, 51, 0.72);
     font-size: 11px;
     font-weight: 500;
     margin: 0 0 0 8px;
}
.adn--login__right-col__actions__checkbox-wrapper {
    padding: 33px 0 0 0;
}

.adn--login__right-col__forgot-password_wrapper.adn--fright {
    padding: 26px 0 0 0;
}

.adn--login__right-col__checkbox-label {
    display: inline-block;
    vertical-align: text-bottom;
}
/* login form style ends here */

/* input field style starts here */

/* Input field style ends here */

/* label style startes here */
.ui.form.adn--input>.inline.field>label {
    width: 75px;
    float: left;
    font-weight: 500;
    padding: 9px 0 0 0;
    color: rgba(25, 30, 51, 0.31);
    font-size: 14px;
}
/* label style ends here */

/* Input style starts here */
.ui.form.adn--input>.inline.field>input {
    width: calc(100% - 90px);
    margin: 0 0 32px 0;
    height: 35px;
    font-size: 14px;
    margin: 0 0 27px 0;
    border: 1px solid rgba(25, 30, 51, 0.27);
}

/* Input style ends here  */

/* footer style starts here */
.adn--login__copyright-text {
    position: absolute;
    bottom: 8px;
    width: 100%;
    color: rgba(25, 30, 51, 0.47);
    font-size: 12px;
    left: 0;
    right: 0;
    text-align: center;
}


/* footer style ends here */