/* left content background style goes here */

.adn--login__layout-left__col-wrapper {
    background: url(../images/bg.png);
    background-size: cover;
}

.ui.ten.wide.column.adn--login__layout-left__col-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* left content background style ends here */

/* logo content style goes here */

.adn--login__layout_logo-link {
    display: inline-block;
    width: 100%;
    margin: 0 0 35px 0;
}

/* logo content style ends here */

/* left content pragraph styles goes here */

.adn-login__content-paragraph {
    margin: 0 auto;
    color: #FFFFFF;
    text-align: left;
    word-wrap: break-word;
    font-size: 35px;
    width: 450px;
    font-weight: 300;
    margin-bottom: 40px;
}

.adn--login__layout-highlight__text {
    color: #ff7f00;
}

/* left content paragraph style ends here */

/* right content goes here */

.ui.six.wide.column.adn--login__layout-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* right content ends here */

/* right side content title goes here */

.adn--login__layout-right__col-title {
    color: #191E33;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid rgba(25, 30, 51, 0.2);
}

/* right side content title ends here */

/* right side paragraph content starts  here */

.adn--login__layout-right__col-paragraph {
    color: rgba(25, 30, 51, 0.7);
    font-size: 15px;
    margin: 0 0 50px 0;
    text-align: center;
    font-weight: 100;
    line-height: 26px;
}

/* right side paragraph content ends here */

/* right side form contet goes here */
.adn--input {
    margin: 0 0 19px 0;
}

.adn--login__layout-right__col-form__wrapper {
    width: calc(100% - 80px);
    margin: 0 auto;
}

.adn--login__layout-right__col-form .ui.form.adn--input input {
    width: calc(100% - 95px);
}

.adn--login__layout-password-link {
    color: #FF7F00;
    font-size: 12px;
    font-weight: 400;
    margin: 0 30px 0 0;
}

.adn--login__layout-password-link:hover {
    color: #FF7F00;
    text-decoration: underline;
}

.adn--login__layout-checkbox__wrapper {
    margin: 44px 0 0 0;
}

.adn--login__layout-password_wrapper {
    margin: 35px 0 0 0;
}

/* right side form content ends here */

/* copyright starts here */

.adn--copyright {
    position: absolute;
    bottom: 20px;
    color: rgba(25, 30, 51, 0.5);
    font-size: 13px;
    font-weight: 100;
}

/* copyright ends here */
