/* logo starts here */

.adn--header__logo-link {
    padding: 14px;
    display: inline-block;
}
.adn--menu {
    background: none;
    border: 0;
}

i.icon.adn--header__menu__icon {
    color: #ff7f00;
    font-size: 24px;
}

.adn-header__menu {
    background: none;
    border: 0;
    padding: 12px;
}

/* logo style ends here */


/* card title starts here */

.adn--card__header {
    height: 80px;
    border-bottom: 1px solid rgba(25, 30, 51, 0.31);

}


.adn--card__header-title {
    padding: 30px 0 0 38px;
    color: #191E33;
    font-size: 16px;
    width: 193px;
    text-overflow: ellipsis;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
}

/* card title ends here */

/* card style starts here */

.adn--card__content {
    width: calc(100% - 78px);
    margin: 0 auto;
    padding-top: 40px;
}

.adn--card {
    width: 680px;
    border-radius: 8px;
    margin: 26px auto;
    background-color: #FFFFFF;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.23), 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}


/* card style ends here */


/* label and input  style starts here */

.ui.adn--input .inline.field>label {
    width: 75px;
    color: rgba(25, 30, 51, 0.51);
    font-size: 14px;
    font-weight: 500;
}

.adn--card .adn--card__content .adn--input .inline label {
    width: 79px;
}

.adn--card .adn--card__content .adn--input .inline input {
    width: calc(100% - 100px);
}



/* label and input  style ends here here */

/* drop down style goes here */
.ui.form.adn--dropdown .inline.field>.dropdown {
    width: calc(100% - 103px);
  
}

.ui.form.adn--dropdown .inline.field>label {
  width: 79px;
  
}
/* dropdown style ends here */

/* button style starts here */

.adn--card__footer .button {
    float: right;
}


.ui.adn--button--secondary {
    background: none;
    color: #ff7f00;
    font-weight: 500;
    font-size: 11px;
    margin: 0 30px 0 0;
    padding: 12px;
}
.ui.adn--button--secondary:hover {
    background: none;
    color: #ff7f00;
    border:1px solid #ff7f00;
  
}
/* button tyle end here */
/* footer style goes here*/

.adn--card__footer {
    width: calc(100% - 42px);
    height: 65px;
}

/* footer style ends here */