/* ::: NON EDITABLE CSS GOES HERE ::: */


.adn--non-editable-field__content {
    height: 56px;
    display: table;
    border-bottom: 1px solid rgba(25, 30, 51, 0.22);
}
.adn--non-editable-field__content span{
    display: table-cell;
    vertical-align: middle;
}
.adn--non-editable-field__label {
    color: rgba(25, 30, 51, 0.46);
    font-size: 13px;
    width: 72px;
}
.adn--non-editable-field__content .adn--non-editable__label-edit{
    width: 114px;
    color: rgba(25, 30, 51, 0.46);
    font-size: 13px;
}
.adn--non-editable-field__value {
    color: #191E33;
    font-size: 13px;
}

.adn--non-edit__pad {
    padding: 16px 0 0 0;
}


.adn--row-header__title {
    color: #191E33;
    font-size: 16px;
    font-weight: 500;
    width: 155px;
    display: inline-block;
}

.adn--row-header__line {
    width: calc(100% - 360px);
    background: rgba(25, 30, 51, 0.19);
    height: 2px;
    vertical-align: middle;
    display: inline-block;
}
/* ::: NON EDITABLE CSS ENDS HERE ::: */