/* ::: NON EDITABLE CSS GOES HERE ::: */


.adn--non-editable-field {
    height: 56px;
    display: table;
    border-bottom: 1px solid rgba(25, 30, 51, 0.22);
}
.adn--non-editable-field span{
    display: table-cell;
    vertical-align: middle;
}
.adn--non-editable-field__label {
    color: rgba(25, 30, 51, 0.46);
    font-size: 13px;
    width: 72px;
}
.adn--non-editable-field .adn--non-editable__label-edit{
    width: 114px;
    color: rgba(25, 30, 51, 0.46);
    font-size: 13px;
}
.adn--non-editable-field__value {
    color: #191E33;
    font-size: 13px;
}

.adn--non-edit__pad {margin-top: 40px;}


.adn--row-header__title {
    color: #191E33;
    font-size: 16px;
    white-space: nowrap;
    display: inline-block;
}

.adn--row-header__line {
    width: 100%;
    background: rgba(25, 30, 51, 0.19);
    height: 2px;
    vertical-align: middle;
    margin: 0 20px;
    display: inline-block;
}

.adn--row-header {
    display: flex;
    align-items: center;
}
.adn--table-edit {
    height: 110px;
    overflow: auto;
}

.adn--table-edit-two{
    height: 181px;
    overflow: auto;
}
.adn--table-wrapper {
    margin: 20px 0 20px 0;
}


.ui.adn--layout .adn--layout__col-wrapper .adn--layout__right-col {

    padding: 0 40px 0 40px !important;
}

/* ::: NON EDITABLE CSS ENDS HERE ::: */