/* logo starts here */

.adn--header__logo-link {
    padding: 14px;
    display: inline-block;
}
.adn--menu {
    background: none;
    border: 0;
}
/* logo style ends here */

/* card style starts here */

.adn--card__content {
    width: calc(100% - 78px);
    margin: 0 auto;
}

.adn--card {
    width: 680px;
    border-radius: 8px;
    margin: 26px auto;
    background-color: #FFFFFF;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.23), 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.adn--card__profile__img-container {
    width: 114px;
}
.adn--card__profile-img {
    width: 112px;
    margin: 24px 0 0 0;
}
.adn--card__input-wrapper {
    margin: 28px 0 0 0;
}
.adn--card__wrapper-password {
    margin: 30px 0 30px 0;
}

.adn--card__input-password{
    margin: 48px 0 0 0;
}
.adn--card__input-wrapper{
    margin: 48px 0 0 0;
    width: calc(100% - 139px);
}
.ui.form.adn--input {
    margin: 0 0 19px 0;
}
/* card style ends here */

/* card title starts here */

.adn--card__content__header__title {
    text-align: justify;
    padding: 30px 0 30px 40px;
    color: #191E33;
    font-size: 16px;
    border-bottom: 1px solid rgba(25, 30, 51, 0.37);
    font-weight: 500;
}
/* card title ends here */

/* label style starts here */

.ui.adn--input .inline.field>label {
    width: 75px;
    color: rgba(25, 30, 51, 0.51);
    font-size: 14px;
    font-weight: 500;
}
.ui.adn--input-password .inline.field>label {
    width: 128px;
    color: rgba(25, 30, 51, 0.51);
    font-size: 14px;
    font-weight: 500;
}
/* label style ends here */

/* input feald style starts here */

.ui.adn--input .inline.field>input {
    width: calc(100% - 96px);
}
.ui.adn--input-password .inline.field>input {
    width: calc(100% - 149px);
}
/* input feald end here */

/* button style starts here */

.ui.adn--card__footer__btn {
    margin: 0 0 30px 0;
}
/*button style ends here  */

/* footer style goes here*/

.adn--card__footer {
    width: calc(100% - 45px);
    /* margin: 10px 0 43px 0; */
}

/* footer style ends here */