/* :::resiting property goese here */

@import url('https://fonts.googleapis.com/css?family=Montserrat');


body {
    font-family: 'Montserrat', sans-serif;
}   

/* :::resiting property ends here */

/*::: REPORT STYLE GOES HERE :::*/

.adn--layout__report-header-wrapper{
    height: 80px;
    background: #fff;
    margin: 0 auto;
}

.adn--layout__report-col-body__wrapper {
    height: calc(100% - 80px);
}
.adn--report__table-wrapper{
    height: calc(100% - 110px);
    overflow: auto;
    word-wrap: break-word;
}
.adn--report__pagination-wrapper{
    height: 60px;
}


.adn--layout__report-header__dropdown .adn--dropdown {
    margin: 24px 0px 0 19px;
}

.adn--layout__report-header__dropdown.adn--fright {
    margin: 0 30px 0 0;
}
.adn--layout__report-header__dropdown .adn--dropdown .inline .ui.dropdown {
    height: 33px;
    width: 144px;
    font-size: 13px !important;
    color: rgba(25, 30, 51, 0.46);
}

.ui.adn--layout__header__right_button{
    background: none;
    padding: 10px 20px 0 20px;
    font-size: 11px;
    display: flex;
    line-height: 19px;
    font-weight: 500;
    margin: 0;
}

.ui.adn--layout__header__right_button:active{
    background: none;
    
}



.ui.adn--layout__header__right_button:hover{
    background: none;
}


.ui.adn--layout__header__right_button:focus{
    background: none;
}
.adn--layout__header__menu .ui.adn--layout__header__menu__button {
    margin: 30px 0 0 0;
    padding: 0 20px 0 20px;
    background: none;
    line-height: 19px;
}
/*::: REPORT STYLE ENDS HERE :::*/

/*:::REPORT STYLE FOR DROP DOWN GOES HERE :::*/

.ui.form.adn--dropdown .inline.field .dropdown.selection {
    height: 35px;
    min-width: 141px;
}
/* ::: REPORT STYLE FOR DROP DOWN GOES HERE ::: */


