/* ::: SIDE NAV STYLE STARTS HERE :::*/

.adn--side-nav__link {
    display: block;
    position: relative;
    height: 30px;
    margin-bottom: 28px;
    padding: 5px 0 0 30px;
}

.adn--side-nav {
    margin: 20px 0 0 0;
}

.adn--layout__left-col{
    position: relative;
}

.adn--layout__left-col:after {
    position: absolute;
    content: '';
    height: calc(100% - 30px);
    background-color: rgba(25, 30, 51, 0.2);
    right: 0;
    width: 1px;
    top: 15px;
}

.adn--side-nav__link.active:after {
    position: absolute;
    content: '';
    width: 3px;
    height: 30px;
    right: -1px;
    box-shadow: 0 0 4px 0 rgba(255,127,0,0.5);
    border-radius:2px;
    background-color: #ff7f00;
}

.adn--side-nav__link.active .adn--side-nav__link__icon,
.adn--side-nav__link:hover .adn--side-nav__link__icon,
.adn--side-nav__link.active .adn--side-nav__link__title,
.adn--side-nav__link:hover .adn--side-nav__link__title {
    color: #ff7f00;
}

.adn--side-nav__link__title{
    color: rgba(25, 30, 51, 0.51);
    font-size: 15px;
    font-weight: 300;
    display: inline-block;
    vertical-align: middle;
    padding-left: 17px;
}

.adn--side-nav__link__icon {
    font-size: 24px;
    width: 25px;
    display: inline-block;
    vertical-align: middle;
    color: rgba(25, 30, 51, 0.51);
}

.adn--side-nav__link__icon.flaticon-download {
    font-size: 22px;
}

/* ::: SIDE NAV STYLE ENDS HERE :::*/