/* TAB  STYLES STARTS HERE */

.ui.menu.adn--tab .active.item {
   border-radius: 3px;
   background-color: #FF7F00;
   font-size: 12px;
   font-weight: 600;
   align-items: center;
   display: flex;
   height: 32px;
   padding: 9px 20px 9px 20px;
   color: #fff;
} 
.ui.menu.adn--tab .item {
 background: none;
 color: rgba(25, 30, 51, 0.51);
 font-size: 12px;
 margin: 24px 0 0 30px;
 height: 32px;
 border-radius: 3px;
 display: flex;
 align-items: center;
} 

.ui.menu.adn--tab a.item:hover{
background: none;
color: #191E33;
}

.ui.menu.adn--tab .active.item:hover{
	color: #fff;
    background-color: #FF7F00;
}

/* TAB STYLES ENDS HERE */