/* ::: TABLE STYLE GOES HERE ::: */

.adn--layout__right-col__content-wrapper {
    border-radius: 8px;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.23), 0 3px 6px 0 rgba(0,0,0,0.16);
}
.ui.adn--table{
    border: none;
}
.adn--layout__right-col__table-wrapper{
    height: 382px;
    overflow:auto;
}

.ui.adn--table thead tr > th {
    background-color: #191E33;
    font-size: 11px;
    font-weight: 600;
    color: #FFFFFF;
    height: 50px;
    padding: 8px 0 0 19px;
    position: relative;
}
.ui.adn--table thead tr > th:first-child {
    text-align: center;
    vertical-align: middle;
    padding: 7px 0 0 21px;
}
.ui.adn--table thead tr > th:after {
    position: absolute;
    content: '';
    width: 1px;
    background: rgba(255, 255, 255, 0.55);
    height: 28px;
    border-radius: 2px;
    top: 13px;
    right: 12px;
}

.adn--report__table-wrapper .ui.adn--table thead tr > th:after{
       position: absolute;
       content: '';
       width: 1px;
       background: rgba(255, 255, 255, 0.55);
       height: 28px;
       border-radius: 2px;
       top: 11px;
       px;
       right: 0px;
}

.ui.adn--table thead tr > th:last-child:after{

    width: 0px;

}
.ui.adn--table tbody tr td {
    color: #191E33;
    font-size: 11px;
    padding: 8px 0 0 20px;
}
.ui.adn--table tr td {
    border-top:none;
}
.ui.adn--table tbody tr {
    background-color: #fafafb;
}

.ui.adn--table tbody tr:hover{
    color: #343434;
    font-weight: 500;
}

.ui.adn--table tbody tr td .ui.adn--table tbody tr td .ui.adn--table__button__icon:hover{
  color: #343434;
    font-weight: 500;
    }

.ui.adn--table tbody tr:nth-child(2n) td {
    background-color: #f3f3f4;
}

.ui.adn--table tbody tr td:first-child {
    text-align: center;
}


.ui.adn--table thead tr > th:last-child {
    text-align: center;
}

.ui.adn--table tbody tr td:last-child {
    text-align: center;
}


.ui.adn--table tfoot > tr > th{
background: #fff;
}


.adn--report__table-wrapper .ui.adn--table tbody tr:last-child td{
    background-color: rgba(255,127,0,0.05);
}

/* ::: TABLE STYLE ENDS HERE ::: */


/* ::: TABLE BUTTON STYLE GOES HERE ::: */

.ui.adn--table__button,.ui.adn--table__button:hover {
    background: none;
}
.ui.adn--table__button:active,.ui.adn--table__button:focus{
    background: none;
}


/* ::: TABLE BUTTON STYLE ENDS HERE ::: */


/* ::: TABLE ICON STYLE STARTS HERE ::: */

.adn--table__button__icon:before {
    font-size: 13px;
    color: rgba(25, 30, 51, 0.26);
}


.adn--table__button__icon ~ .flaticon-garbage:before {
    font-size: 14px;
}


.adn--table__button__icon:hover:before {
    color: #ee7e12;
}


/* ::: TABLE ICON STYLE ENDS HERE ::: */


/* ::: TABLE PAGINATION STYLE STARTS HERE ::: */ 

.adn--table__pagintaion__wrapper {
    height: 59px;
    border-top: 1px solid rgba(25, 30, 51, 0.34);
}
.ui.adn--table__pagination .item  {
    color: #191E33;
    background: none;
    font-size: 12px;
    padding: 10px 9px;
    min-width: 0;
}

.ui.adn--table__pagination .pagination.menu .active.item{
    color: #191E33;
     font-size: 12px;
    font-weight: bold;
    background: none;
}

.ui.menu.adn--table__pagination  .active.item{
    background: none;
    font-weight: bold;
    font-size: 12px;
}
.ui.menu.adn--table__pagination .item{
    
 min-width: 0;
}
.ui.menu.adn--table__pagination .item:hover{
    background: none;
}
.ui.menu.adn--table__pagination .item:before {
    background: none;
}

.ui.menu.adn--table__pagination {
    border: 0;
    box-shadow: none;
    border-radius: 0;
    min-height: 0;
    background: none;
    padding-top: 10px;
}

.ui.adn--table__pagination .adn--table__pagination__icon {
    font-size: 13px;
}

/* ::: TABLE PAGINATION STYLE ENDS HERE ::: */      