* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
}
body {
    background: #e5e5e5;
    font-family: arial;
    color: #32424e;
    font-weight: 400;
}
/*Resizing  property starts*/

.fright {
    float: right;
}
.fleft {
    float: left;
}
.clearfix {
    display: block;
    clear: both;
}
.height-hundred {
    height: 100%;
}
/*Resizing  property ends*/
/*Header property starts here*/

.main-container {
    width: 1000px;
    margin: 0 auto;
}
.top-header {
    background: #32424e;
    height: 80px;
}
.top-header__link {
    display: inline-block;
}
.top-header__link__logo {
    width: 300px;
    margin: 9px auto;
}
.top-header__welcome-text {
    float: right;
    color: #fff;
    margin: 27px 25px;
    font-weight: 600;
}
/*header property ends here*/
/*Side Navigation property starts here*/

.side-nav {
    background: #485d6e;
    width: 250px;
}
.side-nav__link {
    padding: 42px;
    display: block;
    height: 43px;
    width: 250px;
    padding: 14px;
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #748391;
    font-weight: 600;
}
.side-nav__link:hover {
    background: #00a3e8;
    color: #fff;
}
.side-nav__link.active {
    background: #00a3e8;
}
/*Side navigation propert ends here*/
/*main content properties starts here*/
.main-wraper {
    display: flex;
    height: calc(100% - 120px);
}
.main-pragraph {
    background: #fff;
    line-height: 23px;
    text-align: justify;
    padding: 26px;
    overflow: auto;
}
.main-pragraph__heading {
    text-decoration: underline;
    padding: 0 0 14px 0;
    font-size: 36px;
    font-weight: 500;
}
.main-pragraph__sub-text {
    padding: 0 0 12px 0;
}

/*main content properties ends here*/
/*footer sectio*/

.footer-section {
    height: 40px;
    background: #32424e;
    width: 1000px;
    margin: 0 auto;
}
.footer-section__copy-right {
    color: #fff;
    padding: 10px 24px;
}
/*footer section ends here*/