* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
}

body {
    background: #e5e5e5;
    font-family: arial;
    line-height: 22px;
    color: #32424e;
    font-weight: 300;
}
/*Resizing  property starts*/

.fright {
    float: right;
}
.fleft {
    float: left;
}
.clearfix{
    display: block;
    clear: both;
}

/*Resizing  property ends*/

/*navigation css  property*/

.top_header {
    background: #32424e;
    height: 80px;
}
.top_header_txt {
    color: #fff;
    margin: 27px;
    font-weight: 600;
}
.logo img {
    padding: 10px;
}
.article_heading {
    margin-top: 17px;
}
.article_heading a {
    padding-left: 30px;
    color: #32424e;
    font-size: 37px;
    font-weight: 400;
    margin: 22px auto;
}
.article_content {
    padding-left: 30px;
    text-align: justify;
    padding-right: 30px;
    line-height: 23px;
    margin-top: 22px;
}

/*navigation css  property Ends*/

/*side navigation properties starts*/

.side-nav {
    width: 250px;
    background: #485d6e;
    margin: 0;
    list-style: none;
    /*! overflow: hidden; */
    /*! height: 100vh; */
    padding: 0;
    /*! height: 100vh; */
    /*! height: 100%; */
    display: table-cell;
}
.side-nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    text-align: left;
    padding: 9px 0px 9px 24px;
    border-bottom: 1px solid #748391;
    font-size: 18px;
}
.side-nav a:hover {
    background: #00a3e8;
    color: #fff;
}
.active {
    background: #00a3e8;
}

/*side navigation properties ends*/

/*layout content property starts*/



.main-parent {
    width: 1000px;
    margin: 0 auto;
    background: #485d6e;
}

.height-100per {
    /*! height: 100%; */
    height: calc(100% - (80px + 40px));
}

.main_content_section {
    /*! height: calc(100% - (80px + 40px)); */
    /*! overflow: auto; */
    background: #fff;
    width: calc(100% - 250px);
    /*! height: 100%; */
    display: table-cell;
}
.main_content_section ,.side-nav{
display: table-cell;
}
/*layout content property ends*/


/*footer prepert starts here*/
.footer_section{
    height: 40px;
    background: #32424e;
    position: relative;
    bottom: 0;
    width: 1000px;


    clear: both;
}
.footer_text.fright {
    color: #fff;
    padding: 12px 24px;
}



/*footer property  ends here*/

    