/*Resizing propery starts here*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-weight: 400;
    font-family: arial;
    
}
/*Resizing property ends here*/

/*common classes propertes*/
.fleft {
    float: left;
}
.fright {
    float: right;
}   

.clearfix:after {
    content:'';
    display: block;
    clear: both;
}

.layout-container {
    background: #000;
        width: 1000px;
        margin: 0 auto;
}

/*common classes propertes ends here*/

/*header styles here*/


.header {
    background: #000;
}
.layout-container__logo-link {
    display: inline-block;
}
.layout-container__logo-link__logo-img{
    padding: 0px 0px 0px 24px;
}
.layout-container__navigation {
   padding-top: 30px;
}
.layout-container__navigation__link {
    padding: 12px 10px;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
}
.layout-container__navigation__link.active{
    background:url(../images/arrow.png) no-repeat;
    background-position: bottom;
}
.layout-container__navigation__link:hover{
      background:url(../images/arrow.png) no-repeat;
    background-position: bottom;
}

/*Header ends here*/
